<!DOCTYPE html>
<html>

<head>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        #customers tr:hover {
            background-color: #ddd;
        }
        
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #1b77f7;
            color: white;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {
                    data: 'I\'m connected!'
                });
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.

            //S3 NR 1
            socket.on('my_response1', function(msg, cb) {
                $('#log').text($('<div/>').text(msg.s3name1).html());
                if (cb)
                    cb();
            });

            socket.on('my_response2', function(msg, cb) {
                $('#log2').text($('<div/>').text(msg.s3StateC1).html());
                if (cb)
                    cb();
            });

            socket.on('my_response3', function(msg, cb) {
                $('#log1').text($('<div/>').text(msg.time_left_now1).html());
                if (cb)
                    cb();
            });

            //S3 NR 1


            //S3 NR 2
            socket.on('my_response4', function(msg, cb) {
                $('#log3').text($('<div/>').text(msg.s3name2).html());
                if (cb)
                    cb();
            });

            socket.on('my_response5', function(msg, cb) {
                $('#log5').text($('<div/>').text(msg.s3StateC2).html());
                if (cb)
                    cb();
            });

            socket.on('my_response6', function(msg, cb) {
                $('#log4').text($('<div/>').text(msg.time_left_now2).html());
                if (cb)
                    cb();
            });
            //S3 NR 2

            //////
            //S3 NR 3
            socket.on('my_response7', function(msg, cb) {
                $('#log6').text($('<div/>').text(msg.s3name3).html());
                if (cb)
                    cb();
            });

            socket.on('my_response8', function(msg, cb) {
                $('#log8').text($('<div/>').text(msg.s3StateC3).html());
                if (cb)
                    cb();
            });

            socket.on('my_response9', function(msg, cb) {
                $('#log7').text($('<div/>').text(msg.time_left_now3).html());
                if (cb)
                    cb();
            });

            //S3 NR 3

            //////
            //S5 NR 1
            socket.on('my_response10', function(msg, cb) {
                $('#log9').text($('<div/>').text(msg.s5name1).html());
                if (cb)
                    cb();
            });

            socket.on('my_response11', function(msg, cb) {
                $('#log11').text($('<div/>').text(msg.s5StateC1).html());
                if (cb)
                    cb();
            });

            socket.on('my_response12', function(msg, cb) {
                $('#log10').text($('<div/>').text(msg.time_left_now4).html());
                if (cb)
                    cb();
            });

            //S5 NR 1

            //////
            //S5 NR 2
            socket.on('my_response13', function(msg, cb) {
                $('#log12').text($('<div/>').text(msg.s5name2).html());
                if (cb)
                    cb();
            });

            socket.on('my_response14', function(msg, cb) {
                $('#log14').text($('<div/>').text(msg.s5StateC2).html());
                if (cb)
                    cb();
            });

            socket.on('my_response15', function(msg, cb) {
                $('#log13').text($('<div/>').text(msg.time_left_now5).html());
                if (cb)
                    cb();
            });

            //S5 NR 2







        });
    </script>
</head>
<H1 align="center"> Printer Status </H1>

<body>

    <table id="customers">
        <tr>
            <th>Printer</th>
            <th>State</th>
            <th>Name</th>
            <th>D:H:M Until Finish</th>
            <th>Stream</th>
        </tr>
        <tr>
            <td><b>G213 Ultimaker S3 nr1</td>
            <td><b><span id="log2"></span></td>
            <td><b><span id="log"></span></td>
            <td><b><span id="log1"></span></td>
            <td><img src="http://192.168...:8080/?action=stream" alt="Ultimaker S3 nr1" style="width:202.5px;height:151.85px;" </td>
        </tr>
        <tr>
        <tr>
            <td><b>G213 Ultimaker S3 nr2</td>
            <td><b><span id="log5"></span></td>
            <td><b><span id="log3"></span></td>
            <td><b><span id="log4"></span></td>
            <td><img src="http://192.168...:8080/?action=stream" alt="Ultimaker S3 nr2" style="width:202.5px;height:151.85px;" </td>
        </tr>

        <tr>
            <td><b>G213 Ultimaker S3 nr3</td>
            <td><b><span id="log8"></span></td>
            <td><b><span id="log6"></span></td>
            <td><b><span id="log7"></span></td>
            <td><img src="http://192.168...:8080/?action=stream" alt="Ultimaker S3 nr3" style="width:202.5px;height:151.85px;" </td>
        </tr>

        <tr>
            <td><b>G213 Ultimaker S5 nr1</td>
            <td><b><span id="log11"></span></td>
            <td><b><span id="log9"></span></td>
            <td><b><span id="log10"></span></td>
            <td><img src="http://192.168...:8080/?action=stream" alt="Ultimaker S3 nr3" style="width:202.5px;height:151.85px;" </td>
        </tr>
        <tr>
            <td><b>G213 Ultimaker S5 nr2</td>
            <td><b><span id="log14"></span></td>
            <td><b><span id="log12"></span></td>
            <td><b><span id="log13"></span></td>
            <td><img src="http://192.168...:8080/?action=stream" alt="Ultimaker S3 nr3" style="width:202.5px;height:151.85px;" </td>
        </tr>
    </table>

</body>

</html>
